{% extends "layout_das.html" %}

{% set serviceName = "Manage apprenticeships" %}

{% block beforeContent %}
<!-- {{govukBackLink({
  href: ""
})}} -->

{{ govukBreadcrumbs({
  items: [
  {
    text: "Home",
    href: "#"
  },
  {
    text: "Your agreements",
    href: "organisations"
  },
  {
    text: data['name']
  }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-l">{{data['name']}}</span>
      Your ESFA agreements
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% set signedAgreementHtml %}
    <h2 class="govuk-heading-l">[Agreement name]</h2>
    <p>
      This agreement allows you to spend funds for <b>{{data['name']}}</b>.
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    
    <div class="govuk-grid-row agreement-parties">
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m section-heading">Parties</h2>
      </div>

      <div class="govuk-grid-column-one-third">
        <p>
          <b>The Secretary of State for Education acting through the Education and Skills Funding Agency an executive agency of the Department for Education</b>
          <br>
          Cheylesmore House<br>
          Quinton Road<br>
          Coventry<br>
          CV1 2WT
        </p>
      </div>
    </div>

    <div class="govuk-grid-row agreement-parties">
      <div class="govuk-grid-column-one-third column-hide">&nbsp;</div>

      <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </div>
    </div>

    <div class="govuk-grid-row agreement-parties">
      <div class="govuk-grid-column-one-third column-hide">&nbsp;</div>

      <div class="govuk-grid-column-one-third">
        <p>
          <strong>{{data['name']}}</strong><br>
          Unit A 10 Fashion Street<br>London<br>E1 6PX<br>
          <p class="update-details">
            <a href="/accounts/V4G7P7/organisations/review?HashedAgreementId=V8JR7B&amp;AccountLegalEntityPublicHashedId=Y3EVEP">Update these details</a>
          </p>
        </p>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m section-heading">Document</h2>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <div class="signed-agreement">
          <section class="attachment embedded">
            <div class="attachment-thumb">
              <a aria-hidden="true" class="thumbnail" href="/accounts/V4G7P7/agreements/V8JR7B/view"><img alt="" src="https://accounts.test2-eas.apprenticeships.education.gov.uk/dist/images/pub-cover-html.png"></a>
            </div>

            <div class="attachment-details">
              <h2 class="title"><a href="/accounts/V4G7P7/agreements/V8JR7B/view">Your ESFA agreement</a></h2>
              <p class="metadata">
                <span class="type">HTML</span>
              </p>
            </div>
          </section>
        </div>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">This agreement has been accepted</h3>

        {{ govukTable({
          caption: "Dates and amounts",
          firstCellIsHeader: true,
          rows: [
          [
          {
            text: "Accepted by:"
          },
          {
            text: "paul peterson"
          }
          ],
          [
          {
            text: "On behalf of:"
          },
          {
            text: data['name']
          }
          ],
          [
          {
            text: "Address:"
          },
          {
            text: "Unit A 10 Fashion Street , London, E1 6PX"
          }
          ],
          [
          {
            text: "Accepted on:"
          },
          {
            text: "29 January 2020"
          }
          ]
          ]
        }) }}
      </div>
    </div>
    {% endset -%}

    {% set unsignedLatestAgreementHtml %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">About your latest agreement</h2>
        <p>
          This agreement creates a legal contract between London Academy and the Education and Skills Funding Agency (ESFA). It allows you to transfer funds to other employers and pay training providers for apprenticeships.
        </p>
        <p>
          You need to ensure you have the authority from your organisation before you sign this agreement.
        </p>

        <p>
          <a href="existing-agreement-page" class="govuk-button">Continue to your agreement</a>
        </p>
      </div>
    </div>
    {% endset %}

    {{ govukTabs({
      items: [
      {
        label: "Latest agreement",
        id: "past-day",
        panel:
        {
          html: signedAgreementHtml if data['signed'] == 'true' else unsignedLatestAgreementHtml
        }
      },
      {
        label: "Previous agreement (11 April 2019)",
        id: "past-week",
        panel:
        {
          html: signedAgreementHtml
        }
      },
      {
        label: "Previous agreement (4 April 2015)",
        id: "past-month",
        panel:
        {
          html: signedAgreementHtml
        }
      }
      ]
    }) }}
  </div>
</div>

{% endblock %}
