{% extends "layout_das.html" %}
{% set serviceName = "Manage apprenticeships" %}

{% block pageTitle %}
Organisations - Manage apprentices
{% endblock %}

{% block beforeContent %}
<!-- {{govukBackLink({
  href: ""
})}} -->

{{ govukBreadcrumbs({
  items: [
  {
    text: "Home",
    href: "#"
  },
  {
    text: "Your agreements"
  }
  ]
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Your agreements
    </h1>
    <p>

      Add each organisation that will contract with your training providers.
    </p>
    <p>
      There is no restriction on the number of connected organisations you can add.
    </p>

    <p class="govuk-!-margin-bottom-4">
      <a href="#" class="govuk-button govuk-!-margin-bottom-0">Add a new organisation</a>
    </p>
    <p class="govuk-!-margin-top-0 govuk-!-margin-bottom-8">
      <a href="#">Remove an organisation from your account</a>
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table govuk-!-margin-bottom-8">

      <caption class="govuk-table__caption govuk-heading-l">Organisations</caption>

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Organisation</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-half">Agreement status</th>
          <th scope="col" class="govuk-table__header" colspan="2">Agreement ID</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        {% for organisation in range(0, data['orgs-count']) %}
        {% set name = data['businesses'][data['random-businesses'][loop.index0]] %}
        {% set x = true if loop.index != 1 %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{name}}</td>
          <td class="govuk-table__cell">{{"Signed by paul peterson" if x else "Latest agreement has not been signed"}}</td>
          <td class="govuk-table__cell">{{"Y3EVEP" if x else "-"}}</td>
          <td class="govuk-table__cell"><a href="agreements?name={{name}}&signed={{'true' if x else 'false'}}">View</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {{govukDetails({
      summaryText: "Transfers status: Enabled",
      text: "You must sign the most up-to-date agreement for all organisations to use transfers functionality."
    })}}
  </div>
</div>

{% endblock %}
