{% extends "layout_das.html" %}
{% set serviceName = "Manage apprenticeships" %}

{% set pageName = "Your organisations and agreements" %}

{% block pageTitle %}
{{pageName}} - Manage apprentices
{% endblock %}

{% block beforeContent %}
<!-- {{govukBackLink({
  href: ""
})}} -->

{{ govukBackLink({
	text: "Back",
	href: "organisations"
})}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			Remove organisation
		</h1>
		<p>
			{{data['name']}} will end its agreement with the ESFA.
		</p>

		{{ govukRadios({
			classes: "govuk-radios--inline",
			idPrefix: "changed-name",
			name: "changed-name",
			fieldset:
			{
				legend:
				{
					text: "Have you changed your name?",
					isPageHeading: true,
					classes: "govuk-fieldset__legend--xl"
				}
			},
			hint:
			{
				text: "This includes changing your last name or spelling your name differently."
			},
			items: [
			{
				value: "yes",
				text: "Yes"
			},
			{
				value: "no",
				text: "No"
			}
			]
		}) }}
	</div>
</div>

{% endblock %}
